body {
  background-color: #e6f2ff;
}
header {
background-color: #FFFEDC;
}
footer {
background-color: #ffffff
}
h1 {
  text-align: center;
}
#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}
ul {
  display: table;
  margin: 0 auto;
}
li {   
  font-family: sans-serif;
  text-align: left;
}
p {
  color: #003366;
  font-style: italic;
  text-align: center;
}
