body {
  background-color: #e6f2ff;
}
header {
background-color: #FFFEDC;
}
footer {
background-color: #ffffff
}
h1 {
  text-align: center;
}
#img {
  display: flex;
  justify-content: center;
  border-style: solid;
}
#list {
  display: inline;
  text-align: center;
  font-family: sans-serif;
}
p {
  color: #003366;
  font-style: italic;
  text-align: center;
}
